<header class="w3-row">
  <div class="w3-container w3-third " >
    <div class="w3-half" id="logo"></div>
    <h1 class="w3-half w3-xxlarge">Örder</h1>
  </div>
  <nav class="w3-container w3-twothird w3-bar">
    <a routerLink="Items" class="w3-bar-item w3-button w3-border">Items </a>
    <a routerLink="Nav2 " class="w3-bar-item w3-button w3-border"> Nav2 </a>
    <a routerLink="Nav3 " class="w3-bar-item w3-button w3-border"> Nav3 </a>
    <a routerLink="Nav4 " class="w3-bar-item w3-button w3-border"> Nav4 </a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="w3-border w3-container w3-margin w3-centered">
  <h2 class="w3-center w3-xxlarge ">Order</h2>
</footer>
