a {
  color: #2d89ef;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  footer {
    position: relative;
    width: 100%;
  }
}
#logo{
  width: 10%;
  height: 10%;
}
#logoFooter{
  width: 10%;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
